* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    padding: 1rem;
    background-color: #111111;
    height: 100vh;
}

.dashboard-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 90%;
}

.live-cam {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: relative;
}

.live-cam img {
    border: 3px solid #2f404d;
    border-radius: 1rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
}
.live-cam h2 {
    font-size: 2rem;
    letter-spacing: 0.15rem;
    position: absolute;
    top: 2rem;
    font-family: 'Playfair Display', sans-serif;
}

.image-description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-description img {
    border: 3px solid #2f404d;
    border-radius: 1rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
}

.image-description h2 {
    position: absolute;
    top: 1.5rem;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.15rem;

}
.description{
    position: absolute;
    top: 5rem;
    left: 1rem;
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
}
.description h3,p{
    display: inline-block;
}
.information-view {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.status-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    font-size: 2rem;
    padding: 2rem;
}
.rover-status{
    color: #f2f2f2;
    box-shadow:
0px 10px 30px rgba(0,0,0,0.35),
0px 25px 74px rgba(151,71,255,0.12);
border: 1px solid #f2f2f26c;
    border-radius: 1rem;
    padding: 2.3rem;
}
.timer{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 1rem;
    width: 60%;
    background-color: inherit;
    box-shadow:
0px 10px 30px rgba(0,0,0,0.35),
0px 25px 74px rgba(151,71,255,0.15);
    border: 1px solid #f2f2f26c;
    border-radius: 1rem;
    padding: 1rem;
    align-items: center;
}
.timer h2{
    text-align: center;
    color: #ffffff;
}
.btn{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.btn button{
    background-color: #3b82f6;
    height: 3rem;
    width: 3rem;
    border: none;
    color: #FFFFFF;
    border-radius: 100%;
    font-size: 1.5rem;
}
.btn button:hover{
    background-color: #2563eb;
    cursor: pointer;
}
.btn button:active{
    background-color: #1d4ed8;
}
.hidden{
    display: none;
}
.timer-controls{
    display: flex;
    /* justify-content: center; */
    gap: 2rem;
}
.timer-value{
    color: #f2f2f2;
    font-family: 'oxanium', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1rem;
}
.value{
    color: #f2f2f2;
    font-family: 'oxanium', sans-serif;
    font-weight: 300;
    display: flex;
    font-size: 1rem;
    gap: 3.5rem;
    justify-content: center;
    align-items: center;
}
.timer-value-name{
    color: #f2f2f2;
    font-family: 'oxanium', sans-serif;
    font-weight: 300;
    display: flex;
    font-size: 1.5rem;
    gap: 1rem;
}